@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Shade&family=Oxygen:wght@300;400;700&family=Passion+One:wght@700;900&display=swap');
@import "../node_modules/ol/ol.css";

html,
body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
}

h1 {
  font-size: 1rem;
  font-weight: 400;
  color: #222;
  text-align: center;
}
.App {
  text-align: center;
  display: flex;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}